.new-review-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-review-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}

.new-review-control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

/* if new review control is invalid make label color red */
.new-review-control.invalid label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: red
}

.new-review-control.invalid input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
  border-color: red;
  background-color: salmon;
}

.new-review-actions {
  text-align: right;
}