.new-review-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-review-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  text-align: left;
}

.new-review-control textarea {
  display: flex;
  justify-content: left;
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 32rem;
  max-width: 100%;
  margin-bottom: 15px;
}

/* if new review control is invalid make label color red */
/* .new-review-control.invalid label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
} */

.new-review-control.invalid textarea {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 32rem;
  max-width: 100%;
  border-color: red;
  background-color: #fbdada;
}

.new-review-actions {
  text-align: right;
}