.login {
    width: 90%;
    max-width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
}

.actions {
    /* text-align: right;
    display: flex; */
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
}

.actions p {
    cursor: pointer;
}

@media (min-width: 768px) {
    .control {
        align-items: center;
        flex-direction: row;
    }

}

.new-user {
    background-color: #a892ee;
    padding: 1rem;
    margin: 7rem auto;
    width: 25rem;
    max-width: 95%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-user-control input {
    font: inherit;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.new-user-control label {
    font-weight: bold;
    display: block;
    margin-bottom: .05rem;
}

.controls {
    text-align: left;
}

.password-strength-meter {

}

.password-strength-text {
    
}