li.comment {
    color: #b6b6b6;
    padding-bottom: 10px;
    display: flex;
}

div.text {
    width: 100%;
  text-align: center;
}

div.text p {
    display: inline-block;
}

p.bold {
    font-weight: bold;
}

.commentLine {
    border: 1px solid #6b6b6b;
}