textarea {
    background: rgb(92, 92, 92);
    color: white
}

textarea:focus {
    background: white;
    color: black;
}

div.comment_form {
    padding-top: 25px;
}

button {
    font: inherit;
    font-size: 13px;
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

ul.commentField {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li.comment {
    color: #b6b6b6;
    padding-bottom: 35px;
}

.commentLine {
    border: 1px solid #6b6b6b;
}