textarea {
    background: rgb(92, 92, 92);
    color: white
}

textarea:focus {
    background: white;
    color: black;
}

div.comments {
    padding-top: 25px;
}

button {
    font: inherit;
    font-size: 13px;
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}