li.comment {
    color: #b6b6b6;
    padding-bottom: 10px;
    display: flex;
}

p.text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

p.bold {
    font-weight: bold;
}

.commentLine {
    border: 1px solid #6b6b6b;
}