.show-review {
    text-align: left;
    color: white;
    background-color: rgb(31, 31, 31);
    width: 50rem;
    margin: 2rem auto;
    padding: 1rem;
}

.show-review a {
    text-decoration: none;
}

.user-info:hover {
    color: #e9e9e9;
}

.album-info h1,
.album-info h3 {
    display: inline;
    clear: none;
}

hr.rounded {
    border-top: 1px solid #acacac;
    border-radius: 5px;
}

.user-info {
    text-align: left;
    color: #acacac;
}

img.image {
    float: left;
    height: 125px;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 12px;
}