.reviews-list {
  list-style: none;
  padding: 0;
}

.reviews-list-fallback {
  color: white;
  text-align: center;
}

.reviews-list a {
  text-decoration: none;
}

.reviews-list li a:hover {
  background-color: #757575;
}