div.album-info {
    margin-top: 20px;
    color: white;
    text-align: center;
    text-align: left;
    color: white;
    background-color: rgb(31, 31, 31);
    width: 50rem;
    height: 17rem;
    margin: 2rem auto;
    padding: 1rem;
}

.album-info li {
    list-style: none;
}

img.image {
    float: left;
    height: 220px;
    border: 1px solid #acacac;
    margin-right: 15px;
    margin-top: 10px;
    border-radius: 12px;
}

div.loading {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.row h1 {
    display: inline;
    margin: 18px;
}

.row p {
    display: inline;
    font-size: 20px;
}

ul {
    padding: 0;
    list-style-type: none;
}