.recent {
    margin-top: 125px;
    text-align: center;
    color: white;
}

.centered {
    display: flex;
    justify-content: center;
  }

li {
    margin: 10px;
    list-style: none;
}

.container {
    position: relative;
    float: right;
    /* display: inline; */
    width: 300px;
    height: 308px;
    padding-top: 5px;
}

.container img {
    margin: 10px;
    border: 1px solid #ececec;
    border-radius: 12px;
    opacity: 1;
    /* display: block; */
    /* width: 100%; */
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.overlay {
    margin: 10px;
    border-radius: 12px;
    position: absolute;
    height: 98%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #6d6d6d;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.container:hover .overlay {
    opacity: .6;
}