textarea {
    background: rgb(92, 92, 92);
    color: white
}

textarea:focus {
    background: white;
    color: black;
}

div.comment-form {
    padding-top: 25px;
}

button {
    font: inherit;
    font-size: 13px;
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1px solid #40005d;
    background-color: #40005d;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

ul.comment-field {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 40px;
}

p.comment-number {
    font-size: 14px;
}

a {
    color: #b6b6b6;
    text-decoration: none;
}

a:hover {
    color: #ebebeb;
    transition: .5s ease;
}

a:not(:hover) {
    transition: .5s ease;
}